<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
    	<%= user.displayName %>
    <% } %>
    <a href="/auth/linkedin">Login with LinkedIn</a>
  </body>
</html>
